# Include the license file
include LICENSE

# Tox configuration setting
include tox.ini

# Build scripts
include make.bat

# README and the files it references
include README.rst

recursive-include tests *.py

# Documentation
# include docs/Makefile
include docs/make.bat
recursive-include docs/source *
prune docs/build
